In [2]:
pip install oandapyV20

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting oandapyV20
  Downloading oandapyV20-0.7.2.tar.gz (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.6/51.6 KB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: oandapyV20
  Building wheel for oandapyV20 (setup.py) ... done
  Created wheel for oandapyV20: filename=oandapyV20-0.7.2-py3-none-any.whl size=70035 sha256=0ff68dbbde2be45f36f84532d32b2c6a5f2d48312b39735699af241bfc878e1c
  Stored in directory: /root/.cache/pip/wheels/d2/b6/8e/6fe7d26410a99ddb24ac4358691c5feabf4320d20d8053ca25
Successfully built oandapyV20
Installing collected packages: oandapyV20
Successfully installed oandapyV20-0.7.2

In [3]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import pandas as pd
import oandapyV20
import oandapyV20.endpoints.instruments as instruments

In [4]:
access_token = '***********'
client = oandapyV20.API(access_token=access_token)

In [7]:
params = {
    "count": 5,
    "granularity": "M5"}
r_data = instruments.InstrumentsCandles(instrument="EUR_USD",
                                        params=params)
client.request(r_data)

{'instrument': 'EUR_USD',
 'granularity': 'M5',
 'candles': [{'complete': True,
   'volume': 453,
   'time': '2023-01-19T11:20:00.000000000Z',
   'mid': {'o': '1.08278', 'h': '1.08286', 'l': '1.08232', 'c': '1.08250'}},
  {'complete': True,
   'volume': 451,
   'time': '2023-01-19T11:25:00.000000000Z',
   'mid': {'o': '1.08250', 'h': '1.08267', 'l': '1.08234', 'c': '1.08248'}},
  {'complete': True,
   'volume': 608,
   'time': '2023-01-19T11:30:00.000000000Z',
   'mid': {'o': '1.08247', 'h': '1.08249', 'l': '1.08212', 'c': '1.08228'}},
  {'complete': True,
   'volume': 505,
   'time': '2023-01-19T11:35:00.000000000Z',
   'mid': {'o': '1.08227', 'h': '1.08236', 'l': '1.08172', 'c': '1.08216'}},
  {'complete': False,
   'volume': 238,
   'time': '2023-01-19T11:40:00.000000000Z',
   'mid': {'o': '1.08216', 'h': '1.08216', 'l': '1.08187', 'c': '1.08198'}}]}

In [8]:
data = []
for i in r_data.response['candles']:
    data.append([i['time'], i['volume'], i['mid']['o'],
                 i['mid']['h'], i['mid']['l'], i['mid']['c']])

In [10]:
df = pd.DataFrame(data)
df.columns = ['Time', 'Volume', 'Open', 'High', 'Low', 'Close']
print(df)

                             Time  Volume     Open     High      Low    Close
0  2023-01-19T11:20:00.000000000Z     453  1.08278  1.08286  1.08232  1.08250
1  2023-01-19T11:25:00.000000000Z     451  1.08250  1.08267  1.08234  1.08248
2  2023-01-19T11:30:00.000000000Z     608  1.08247  1.08249  1.08212  1.08228
3  2023-01-19T11:35:00.000000000Z     505  1.08227  1.08236  1.08172  1.08216
4  2023-01-19T11:40:00.000000000Z     238  1.08216  1.08216  1.08187  1.08198

change time format

In [12]:
df['Time'] = pd.to_datetime(df['Time'])
print(df)

                       Time  Volume     Open     High      Low    Close
0 2023-01-19 11:20:00+00:00     453  1.08278  1.08286  1.08232  1.08250
1 2023-01-19 11:25:00+00:00     451  1.08250  1.08267  1.08234  1.08248
2 2023-01-19 11:30:00+00:00     608  1.08247  1.08249  1.08212  1.08228
3 2023-01-19 11:35:00+00:00     505  1.08227  1.08236  1.08172  1.08216
4 2023-01-19 11:40:00+00:00     238  1.08216  1.08216  1.08187  1.08198

change UTC tiome zone to iran time zone

In [13]:
df['Time'] = pd.to_datetime(
    df['Time']).dt.tz_convert('iran')

print(df)

                       Time  Volume     Open     High      Low    Close
0 2023-01-19 14:50:00+03:30     453  1.08278  1.08286  1.08232  1.08250
1 2023-01-19 14:55:00+03:30     451  1.08250  1.08267  1.08234  1.08248
2 2023-01-19 15:00:00+03:30     608  1.08247  1.08249  1.08212  1.08228
3 2023-01-19 15:05:00+03:30     505  1.08227  1.08236  1.08172  1.08216
4 2023-01-19 15:10:00+03:30     238  1.08216  1.08216  1.08187  1.08198

remove seconds  . change time to str

In [14]:
df['Time'] = df['Time'].dt.strftime("%Y-%m-%d:%H:%M")

print(df)

               Time  Volume     Open     High      Low    Close
0  2023-01-19:14:50     453  1.08278  1.08286  1.08232  1.08250
1  2023-01-19:14:55     451  1.08250  1.08267  1.08234  1.08248
2  2023-01-19:15:00     608  1.08247  1.08249  1.08212  1.08228
3  2023-01-19:15:05     505  1.08227  1.08236  1.08172  1.08216
4  2023-01-19:15:10     238  1.08216  1.08216  1.08187  1.08198